
@media (max-width:820px) {
	.flex {
		display: flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 15px;
		padding: 0 2em;
	}
	.footer_text{
		background-color: var(--silver);
		gap: 16px;
		display: flex;
		flex-direction: column;
		width: 680px;
		height: 140px;
	}
	.hero {
		background: url(https://images.pexels.com/photos/952476/pexels-photo-952476.jpeg?auto=compress&cs=tinysrgb&w=600) center/cover no-repeat;
		width: 100vw;
		height: 56%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 67px;
		gap: 18px;
	}
	.hero h1 {
		color: var(--white);
		font-size: 3.2em;
	}
	.hero p {
		display: flex;
		color: var(--light);
		font-size: 1.2em;
	}
	.Steps{
		display: flex;
		align-items: center;
		color: var(--light);
		flex-direction: column;
		gap: 18px;
		margin-top:18px;
	}
	.size {
		width: 55vw;
		height: 400px;
	}
	.store_cards {
		display: flex;
		align-items: center;
		flex-direction: column;
	    gap: 45px;
		margin: 25px;
		padding:0 8em;
	}
	.m_store-cards{
		width:200px;
	}
	.testimonial_Cards {
		background: var(--light);
		width: 100vw;
	}
}