* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-button {
	width: 47px;
	height: 47px;
}

::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0px none #ffffff;
	border-radius: 89px;
}

::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
	background: #000000;
}

::-webkit-scrollbar-track {
	background: #5e5e5e;
	border: 0px none #ffffff;
	border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
	background: #666666;
}

::-webkit-scrollbar-track:active {
	background: #000000;
}

::-webkit-scrollbar-corner {
	background: transparent;
}


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: whitesmoke;
	padding: 4px 22px;
}
.logo {
	display: flex;
	align-items: center;
	gap: 0 10px;
	font-size: 1.3em;
	text-decoration:none;
	color: var(--dark);
}

.logo span {
	color: var(--green);
}

.logo img {
	width: 35px;
}

.primary-pignation {
	display: flex;
	align-items: center;
	font-weight:bold;
}

.primary-pignation ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 13px;
}

.primary-pignation li a{
	text-decoration:none;
	color:var(--dark);
}

.primary-pignation li a:hover{
	color:var(--green);
	border-bottom:2px solid var(--green);
	transition: var(--transition);
}

.primary-pignation i{
	color:var(--dark);
}

.primary-pignation i:hover{
	color:var(--skin);
	transition: var(--transition);
}

.primary-pignation button {
	margin-left: 10px;
	padding: 6px;
	background-color: var(--green);
	color: white;
	border: none;
	border-radius:6px;
	font-weight:bold;
}
.primary-pignation button:hover{
	background-color:var(--skin);
	padding:10px;
	transition: var(--transition);
}
.hero {
	background: url(https://images.pexels.com/photos/952476/pexels-photo-952476.jpeg?auto=compress&cs=tinysrgb&w=600) center/cover no-repeat fixed;
	width: 100vw;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 67px;
}

.hero h1 {
	color: var(--white);
}

.hero h1:hover{
	color: var(--green);
	transition: var(--transition);
}

.hero p {
	display: flex;
	color: var(--light);
}

.Steps {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--light);
}

.steps i {
	font-size: 3.2rem;
}

.s_1 {
	background: var(--teal);
}

.s_1:hover{
	color: var(--dark);
	transition: var(--transition);
}

.s_2 {
	background: var(--green);
}

.s_2:hover{
	color: var(--skin);
	transition: var(--transition);
}

.s_3 {
	background: var(--skin);
}

.s_3:hover{
	color: var(--teal);
	transition: var(--transition);
}

.s_4 {
	background: var(--pink);
}

.s_4:hover{
	color: var(--dark);
	transition: var(--transition);
}

.store {
	background: var(--skin-light);
}
.store_cards {
	display: flex;
}

.store_cards p{
	letter-spacing: 2px;
}

.main_text {
	text-align: center;
}

.main_text p {
	padding: 0 20%;
}

.testimonials{}

.testimonial_Cards {
	background: var(--light);
}

.testimonials img {
	width: 85px;
    border: 2px solid black;
    border-radius: 44px;
}
.Quality{
	width:870px;
}
.Quality p{
	font-size:12px;
}
.footer img{
	width: 680px;
    height: 340px;
}
.footer_text{
	background-color: var(--silver);
    gap: 16px;
    display: flex;
    flex-direction: column;
    height: 340px;
	width:200px;
    justify-content: center;
	align-items: center;
}
